body {
    background: #fff url("/images/interface/bg-body-mobile.jpg") repeat-x;
    font: 16px/24px  Belleza, Cambria, Georgia, Times, TimesNewRoman, "Times New Roman", serif;
    margin: 2em;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-style: italic;
}
