/* CSS Document */

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: Arial,sans-serif;
	margin: 0px;
	padding: 0px;
	margin-top: 20 px;
	
	
}



/***********************************************/
/* Links                                 */
/***********************************************/

a:link, a:visited, a:hover {
	margin: 0px;
	padding: 0px;
	color:#ffffff;
	text-decoration: none;
	font-size: 15pt;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16pt;
	
}

a:hover {
	text-decoration: underline;
	
}

			

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#title{
	color: #aaaaaa;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #990000;
	font-size: 20pt;
	line-height: 20pt;
	float: left;
	border-right-color: #FFFFFF;
	border-right-style: dotted;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 15%;
	height: 100%;
}

/* 'nowrap' prevents links from line-wrapping if there are too many to fit in one line
   this will force a horizontal scrollbar if there isn't enough room for all links
   remove rule or change value to 'normal' if you want the links to line-wrap */

#content{
	background-color: #990000;
	padding: 0;
	margin-left: 0px;
	color: #000000;
	margin-bottom: 0px;
	padding-left: 0px;
	line-height: 15pt;
	margin-top: 0px;
	font-size: 15pt;
	width: 100%;
}

/***********************************************/
/*Component Divs                               */
/***********************************************/



/*************** #pageName styles **************/

#siteInfo{/***This is for the header bar***/
	clear: both;
	border: 2px solid #aaaaaa;
	font-size: 12pt;
	color: #000000;
	margin-top: 0px;
	background-color: #006600;
	padding-top: 15px;
	padding-bottom: 15px;
	
}
#siteInfo a{
	font-size: 11pt;
	font-weight: bold;
}
